@import "../../styles/ColorSchema.scss";


.paperButton {
  color: black;
  background-color: white;
  width: 13rem;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
  outline:none;
  border: 1px solid white;
  transform: translate3d(0, 0, 0);
  box-shadow: 0rem 0.625rem 0.625rem 0rem rgba(21, 22, 22, 0.4);
}

.funkgradientButton1 {
  background: $blue-grad;
  border: 1px solid $blue;
}

.funkgradientButton2 {
  background: $dark-gray-grad;
  border: 1px solid $black;
}

.funkgradientButton3 {
  background: $green-grad;
  border: 1px solid $green;
}

.funkgradientButton4 {
  background: $orange-grad;
  border: 1px solid $orange;
}

.funkgradientButton5 {
  background: $purple-grad;
  border: 1px solid $purple;
}

.funkgradientButton6 {
  background: $red-grad;
  border: 1px solid $red;
}




.funkgradientButton1,
.funkgradientButton2, 
.funkgradientButton3, 
.funkgradientButton4, 
.funkgradientButton5, 
.funkgradientButton6 {
  color: white;
  width: 13rem;
  height: 2.5rem;
  outline: none;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  box-shadow: 0rem 0.625rem 0.625rem 0rem rgba(21, 22, 22, 0.4);
}

.paperButton:after,
.funkgradientButton1:after, 
.funkgradientButton2:after,
.funkgradientButton3:after,
.funkgradientButton4:after,
.funkgradientButton5:after,
.funkgradientButton6:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ccd1d9 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.paperButton:active:after,
.funkgradientButton1:active:after, 
.funkgradientButton2:active:after,
.funkgradientButton3:active:after,
.funkgradientButton4:active:after,
.funkgradientButton5:active:after,
.funkgradientButton6:active:after{
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}



.blackBorderButton{
  border: 0.06rem solid #2d3436;
  color: #2d3436;
}.blackBorderButton:hover{
  background-color: #2d3436; 
}


.orangeBorderButton{
  border: 0.06rem solid $orange;
  color: $orange;
}.orangeBorderButton:hover{
  background-color: $orange; 
}

.purpleBorderButton{
  border: 0.06rem solid $purple;
  color: $purple;
}.purpleBorderButton:hover{
  background-color: $purple; 
}

.blueBorderButton{
  border: 0.06rem solid $blue;
  color: $blue;
}.blueBorderButton:hover{
  background-color: $blue; 
}

.yellowBorderButton{
  border: 0.06rem solid $yellow;
  color: $yellow;
}.yellowBorderButton:hover{
  background-color: $yellow; 
}

.redBorderButton{
  border: 0.06rem solid $red;
  color: $red;
}.redBorderButton:hover{
  background-color: $red; 
}

.blackBorderButton,
.orangeBorderButton,
.purpleBorderButton,
.blueBorderButton,
.yellowBorderButton,
.redBorderButton {
  display: inline-block;
  margin: 0.2rem 0.1rem;
  padding: 0.7rem 1.2rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  background-color: transparent;
  transition: all ease .3s;
  font-size: 1.1rem;
}
.blackBorderButton:hover,
.orangeBorderButton:hover,
.purpleBorderButton:hover,
.blueBorderButton:hover,
.yellowBorderButton:hover,
.redBorderButton:hover{
  cursor: pointer;
  color: white;  
}