@import "../../styles/ColorSchema.scss";

.paperButton {
  color: black;
  background-color: white;
  width: 300px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  border-radius: 25px 5px;
  box-shadow: 0px 10px 10px 0px rgba(172, 240, 240, 0.4);
}

.darkgradientButton {
  color: white;
  background: $dark-gray-grad;
}

.funkgradientButton1 {
  background: linear-gradient(-9deg, #63da38 50%, #00ab21 50%);
}

.funkgradientButton2 {
  background: linear-gradient(-9deg, #ff9500 50%, #d75f00 50%);
}

.funkgradientButton3 {
  background: linear-gradient(-9deg, #ff2968  50%, #99195e  50%);
}

.funkgradientButton4 {
  background: linear-gradient(-9deg, #cc73e1 50%, #7c1fa1 50%);
}

.funkgradientButton5 {
  background: linear-gradient(-9deg, #ff3b30 50%, #c22518 50%);
}

.funkgradientButton6 {
  background: linear-gradient(-9deg, #ffcc00 50%, #d8ac21 50%);
}

.darkgradientButton,
.funkgradientButton1,
.funkgradientButton2, 
.funkgradientButton3, 
.funkgradientButton4, 
.funkgradientButton5, 
.funkgradientButton6 {
  color: white;
  width: 300px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  border-radius: 25px 5px;
  box-shadow: 0px 10px 10px 0px rgba(21, 22, 22, 0.4);
}

.paperButton:after,
.darkgradientButton:after, 
.funkgradientButton1:after, 
.funkgradientButton2:after,
.funkgradientButton3:after,
.funkgradientButton4:after,
.funkgradientButton5:after,
.funkgradientButton6:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ccd1d9 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.paperButton:active:after,
.darkgradientButton:active:after, 
.funkgradientButton1:active:after, 
.funkgradientButton2:active:after,
.funkgradientButton3:active:after,
.funkgradientButton4:active:after,
.funkgradientButton5:active:after,
.funkgradientButton6:active:after{
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

