@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//body { font-family: 'Roboto', sans-serif; margin-bottom: 5em;}



// Container width
$width: 100%;

// Array of columns
$cols: (
  "wide": 16,
  "base": 12,
  "small": 8
);


// Grid container 
.grid {
  margin: 0 auto;
  width: $width;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  &:not(last-of-type) {
    margin-bottom: 1vw;
  }

  @each $col, $i in $cols {
    &.grid_#{$i} {
        //grid-template-columns: repeat($i, 1fr);
       

      .col {
        color: white;
        padding: .1vw;
        //background: gray;
        text-align: center;
        font-size: 2vw;
        &:nth-child(even) {
          //background: blueviolet;
        }
        
        @for $col from 1 through $i {
          &.col-#{$col} {
            grid-column: span #{$col}
          }
        }
      }
    }
  }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1280px) {
	.grid {
  margin: 0 auto;
  width: $width;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  &:not(last-of-type) {
    margin-bottom: 1vw;
  }

  @each $col, $i in $cols {
    &.grid_#{$i} {
        grid-template-columns: repeat($i, 1fr);

      .col {
        color: white;
        padding: .1vw;
        //background: gray;
        text-align: center;
        font-size: 2vw;
        &:nth-child(even) {
          //background: blueviolet;
        }
        
        @for $col from 1 through $i {
          &.col-#{$col} {
            grid-column: span #{$col}
          }
        }
      }
    }
  }
}

}
