html,
body {
  height: 100%;
}

body {
  background: #333;
  font-family: Helvetica Neue;
}

.storybook {
  width: 100%;
  color: #708090;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

#storybook {
  display: block;
}

.ToggleSwitch {
  position: relative;
  width: 5rem;
  height: 2.35rem;
  display: inline-block;

  &.ToggleSwitch__rounded {
    .Slider {
      border-radius: 15rem;
      background: #eceff1;
      border: 1px solid #a0a0a0;

      &:before {
        border-radius: 50%;
      }
    }
  }

  .ToggleSwitch__wrapper {
    position: relative;
    width: 5rem;
    height: 2.35rem;

    .Slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.4s ease;

      &:before {
        width: 2.45rem;
        height: 2.45rem;
        position: absolute;
        background: #fff;
        content: "";
        margin: 0;
        padding: 0;
        top: 50%;
        left: 0.1rem;
        transform: translateY(-50%);
        transition: 0.4s;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }

      &.isChecked {
        background: #fff;

        &:before {
          left: calc(100% - 0.1rem - 2.45rem);
          background: #0099ff;
        }
      }
    }
  }
}
