@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primary: #967adc;
$lavendar: #967adc;
$blue: #4a89dc;
$gray: #656d78;
$dark-gray: #434a54;
$green: #8cc152;
$orange: #ff9500;
$pink: #d770ad;
$purple: #967adc;
$red: #da4453;
$yellow: #ffce54;
$white: #ccd1d9;
$black: #434a54;
//GRADIENTS
$blue-grad: linear-gradient(-45deg, #1badf8 50%, #2b7de5 100%);
$dark-gray-grad: linear-gradient(-45deg, #6c6c6c 50%, #434343 100%);
$green-grad: linear-gradient(-45deg, #63da38 50%, #00ab21 100%);
$orange-grad: linear-gradient(-45deg, #ff9500 50%, #d75f00 100%);
$pink-grad: linear-gradient(-45deg, #ff2968 50%, #99195e 100%);
$purple-grad: linear-gradient(-45deg, #cc73e1 50%, #7c1fa1 100%);
$red-grad: linear-gradient(-45deg, #ff3b30 50%, #c22518 100%);
$yellow-grad: linear-gradient(-45deg, #ffcc00 50%, #d8ac21 100%);
//Fonts
$zapFont: Montserrat;
