@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
// Colors
$primaryColor: #be1e6b;
$secondaryColor: #692478;
$tertiaryColor: #ffd280;
$primaryDark: #000000;
$secondaryDark: #404040;
$tertiaryDark: #737373;
$disabled: #d9d9d9;
$defaultw: #ffffff;
$defaultb: #000000;
$containerFluidsm: #ecf0f1;
$containerFluidmd: #d0ace4;
$containerFluidxl: #aadb1e;
$containerFixed: #f9690e;
$grey: #888888;

// Fonts
$zapFont: "Montserrat";
