$primaryColor: #eb8f9e;
$secondaryColor: #80ff80;
$tertiaryColor: #ffd280;
$defaultw: #ffffff;
$defaultb: #000000;
$containerFluidsm:#ECF0F1;
$containerFluidmd:#D0ACE4;
$containerFluidxl:#AADB1E;
$containerFixed:#F9690E;