$primaryColor: #eb8f9e;
$secondaryColor: #80ff80;
$tertiaryColor: #ffd280;
$primaryDark: #000000;
$secondaryDark: #404040;
$tertiaryDark: #737373;
$disabled: #d9d9d9;
$defaultw: #ffffff;
$defaultb: #000000;
$containerFluidsm:#ECF0F1;
$containerFluidmd:#D0ACE4;
$containerFluidxl:#AADB1E;
$containerFixed:#F9690E;