@mixin commonprop{
  background-repeat: no-repeat;
    background-position: right;
    background-size: 5rem;
    display:inline-block;
}



.icard{
    display:inline-block;
    width: 80%;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0 0.375rem 0.625rem rgba(0,0,0,.08), 0 0 0.375rem rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 0.875rem 5rem 1.125rem 2.25rem;
  cursor: pointer;
}

.icard:hover{
     transform: scale(1.05);
  box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,.12), 0 0.25rem 0.5rem rgba(0,0,0,.06);
}

.icard h3{
  font-weight: 600;
  color: black;
}

.icard p{
    color:black;
}

.icard img{
  position: absolute;
  top: 1.25rem;
  right: 0.94rem;
  max-height: 7.5rem;
}



.icard-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
     @include commonprop;
}

.icard-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
     @include commonprop;
}

.icard-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      @include commonprop;
}

@media(max-width: 61.87rem){
  .icard{
    margin: 1.25rem;
  }
} 