.Box-primary{
    width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.Box-secondary{
  width: 300px;
  border: 15px solid red;
  /* background-color: yellow;
  color: black; */
  padding: 50px;
  margin: 20px;
}