@import "../Styles/globals.scss";

.boxPrimary {
    background-color: $primaryColor;
    color: $defaultb;
}

.boxSecondary {
    background-color: $secondaryColor;
    color: $defaultb;
}

.boxTertiary {
    background-color: $tertiaryColor;
    color: $defaultb;
}

.darkPrimary {
    background-color: $primaryDark;
    color: $defaultw;
}

.darkSecondary {
    background-color: $secondaryDark;
    color: $defaultw;
}

.darkTertiary {
    background-color: $tertiaryDark;
    color: $defaultw;
}

.disabled {
    background-color: $disabled;
    color: $defaultw;
}