@import "./../../../Styles/globals.scss";

.sm{
    background-color: $containerFluid;
    height: 50vh;
}
.md{
    background-color: $containerFluid;
    height: 75vh;
}
.xl{
    background-color: $containerFluid;
    height: 100vh;
}