@import "./../../../Styles/globals.scss";

.sm{
    background-color: $containerFluidsm;
    height:20vh;
}
.md{
    background-color: $containerFluidmd;
    height:60vh;
}
.xl{
    background-color: $containerFluidxl;
    height: 100vh;
}