@import "../../styles/ColorSchema.scss";

input {
  display: inline-block;
  font-family: $zapFont;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 0.625rem solid;
  -webkit-border-radius: 0.19rem;
  border-radius: 0.19rem;
  font-size: 1rem;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0.125rem 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2) inset;
  outline: none;
}
::placeholder {
  color: black;
}

label {
  font-weight: 800;
  text-align: left;
  font-family: $zapFont;
  font-size: 0.78rem;
  padding-left: 0rem;
  padding-bottom: 0.125rem;
  display: block;
}
